<div class="container">
  <body class="text-center">
    <p>{{ form.value | json }}</p>
    <form [formGroup]="form" class="form-signup" (ngSubmit)="signup()">
      <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
      <label for="inputUsername" class="sr-only">Username</label>
      <input formControlName="username" type="text" id="inputUsername" class="form-control m-2" placeholder="Username" required autofocus="">
      <label for="inputEmail" class="sr-only">Email address</label>
      <input formControlName="email" type="email" id="inputEmail" class="form-control m-2" placeholder="Email address" required autofocus="">
      <label for="inputPassword" class="sr-only">Password</label>
      <input formControlName="password" type="password" id="inputPassword" class="form-control m-2" placeholder="Password" required>
      <label for="inputPasswordRepeat" class="sr-only">Repeat Password</label>
      <input formControlName="passwordRep" type="password" id="inputPasswordRepeat" class="form-control m-2" placeholder="Repeat Password" required>
      <button class="btn btn-lg btn-primary btn-block m-2" type="submit">Sign up</button>
      <a routerLink="/login">Already have an account? Log in instead...</a>
    </form>
    </body>
</div>
