.relative {
    position: relative;
}

.cart-count {
    position: absolute;
    top: 0.2em;
    right: 0.2em;
    margin: auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #AAA;
    height: 17px;
    width: 17px;
    background: #FFF;
    font-size: smaller;
}
