<div class="container">
  <div class="card m-2">
    <div class="card-header">
      Home Home Home
    </div>
    <div class="card-body">
      <h5 class="card-title">File Upload</h5>
      <p class="card-text">Upload your own File/Document</p>
      <a (click)="loadModalFileUpload()" class="btn btn-primary">Upload File</a>
    </div>
  </div>
  <div *ngFor="let file of files" class="row">
    <div class="col-5">
      <app-file-element (openOptionsM)="openOptions($event)" [file]="file" ></app-file-element>
    </div>
    <div *ngIf="choosenFile !== undefined"  class="col-4">
      <div #optioncontainer *ngIf="file.id === choosenFile.id"  class="option-container">

      </div>
    </div>
  </div>
</div>
