<div class="container">
  <div class="card m-2">
    <div class="card-header">
      Home Home Home
    </div>
    <div class="card-body">
      <h5 class="card-title">File Upload</h5>
      <p class="card-text">Upload your own File/Document</p>
      <a (click)="loadModalFileUpload()" class="btn btn-primary">Upload File</a>
    </div>
  </div>
  <div *ngIf="files; else loading">
    <div *ngFor="let file of files">
      <app-file-element [file]="file"></app-file-element>
      <!--<div *ngIf="choosenFile !== undefined"  class="col-4">
        <div #optioncontainer *ngIf="file.id === choosenFile.id"  class="option-container">

        </div>
      </div>-->
    </div>
  </div>
  <ng-template #loading>
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </ng-template>
</div>
