# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\development\modul_306\fileshare\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
